body {
    margin:0;
    font-family: fantasy;  
    margin-top: 38px;
    background-color: rgb(255, 255, 255);

    }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #1f618d ;
  position: fixed;
  top: 0;
  width: 100%;
  
}

li {
  float: right;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 30px;
  padding-top: 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
    color: #FFC300 ;
}

.active {
    color: #FFC300 ;
    font-weight: bold;
}

.contenido{
  margin: 10%;
}
.img-menu{
    margin-top: 10px;
    width: 160px;
    
}


h1{
  font-weight: bold;
  font-size:70px;
  color:#1f618d;
}

p{
  font-size:30px;
  color:#1f618d;
}

footer{
  color: beige;
  background-color: #1f618d;
height: 3%;  
}
.box{
  float: left;
  height: 200px;
  width: 28%;
  margin-left: 4%;
  border-radius: 15px;
  border-width: 10px;
  border-color: #FFC300;
  border-style: solid;
  border-width: 5px;


}
